<% meals.forEach((meal) => { %>
  <div class="large-4 columns">
    <a href="/meals/<%= meal.id %>">
      <img class="thumbnail" src="<%= meal.image %>" alt="<%= meal.name %>" width=500px>
      <h2><%= meal.name %></h2>
      <p>
        <%= meal.description %><br>
        <%= meal.location %><br>

      </p>

      <p>
        <% while(meal.stars--) { %> &star; <% } %>
      </p>

      <p>
        <%= meal.createdBy.username %>
      </p>
    </a>
  </div>
<% }) %>
