<% meals.forEach((meal) => { %>
  <div class="large-6 medium-12 columns">
      <a href="/meals/<%= meal.id %>">
        <div class=images>
          <div class="meal-image" style="background-image:url(<%= meal.image %>)"></div>
        </div>
        <h2><%= meal.name %></h2>
      </a>

        <p>
          <%= meal.location %><br>
          <%= meal.description %><br>
        </p>
        <p>
          <% while(meal.stars--) { %> &star; <% } %>
        </p>

        <p>
          <%= meal.createdBy.username %>
        </p>

  </div>
<% }) %>
