<div class="large-12 columns">
  <img src="<%= meal.image %>" alt="<%= meal.name %>" width=800px>
  <h2><%= meal.name %></h2>

  <p>
    <%= meal.location %><br>
    <%= meal.description %><br>
  </p>

  <p>
    <% while(meal.stars--) { %> &star; <% } %>
  </p>

  <iframe src="<%= meal.googleMaps %>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  <p>
    <%= meal.createdBy.username %>
  </p>

  <% if(locals.isAuthenticated && meal.belongsTo(user)) { %>
  <a href="/meals/<%= meal.id %>/edit">Edit</a>
  <form method="POST" action="/meals/<%= meal.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete</button>
  </form>
<% } %>

<% if(locals.isAuthenticated) { %>
  <section>
    <h4>Leave a comment</h4>
    <form method="POST" action="/meals/<%= meal.id %>/comments">
      <textarea name="content" id="content" placeholder="Comment"></textarea>
      <button class="button">Leave a comment</button>
    </form>
  </section>
<% } %>

<section>
  <h4>Comments</h4>
  <% meal.comments.forEach((comment) => { %>
    <p><%= comment.content %></p>
    <small><%= comment.createdBy.username %></small>

    <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
      <form method="POST" action="/meals/<%= meal.id %>/comments/<%= comment.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    <% } %>
  <% }) %>
</section>

</div>
